server:
  port: 8761
spring:
  application:
    name: naming-server
  sleuth:
    sampler:
      probability: 1.0
  zipkin:
    base-url: http://localhost:9411/
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
